@import 'node_modules/bootstrap/scss/bootstrap';

.div-bg{
    height: 300px;
    width: 300px;
}
#big{
    height: 100vh;
}
.box{
    box-shadow: 0px 0px 30px 30px black;
}

body{
    background-image: url(../images/globe-world.jpg);
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.big-text{
    font-size: 20px;
}